.note_row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    border-bottom: 2px solid whitesmoke;
    z-index: 999;
}

/* .note_settings_left {
    /* display: flex;
    gap: 10px; 
    /* justify-content: start; 
} */

/* .note_snippet {
    display: flex;
} */
